.aboutContainer {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
  background-color: #5c82a1;
  width: 100%;
  color: #ffffff;
  padding: 50px 20px; /* Space around content */
  height: auto; /* Allow the container to grow dynamically with content */
  margin-top: -20px; /* Move the container up slightly */
}

.contentWrapper {
  display: flex;
  flex-direction: column; /* Stack text vertically */
  align-items: center;
  text-align: center;
  gap: 20px; /* Space between the name and adjectives */
  margin-top: -50px; /* Move the content up */
}


.textContainer {
  display: flex;
  flex-direction: column; /* Stack title and adjectives vertically */
  gap: 10px; /* Space between title and adjectives */
}

.title {
  font-size: 4rem; /* Larger font size for your name */
  margin-bottom: 10px;
  color: black; /* Make your name black */
  font-weight: bold;
  text-align: center; /* Center-align the text */
}

.rotatingWords {
  font-size: 1.8rem; /* Adjust size as needed for the adjectives */
  color: #000000; /* Default text color */
}

.fadeWord {
  font-weight: bold;
  background: linear-gradient(90deg, #0b3971, #d03090); /* Blue to purple gradient */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Make text transparent to show the gradient */
  display: inline-block; /* Ensure proper rendering of gradient */
}


.cursor {
  display: inline-block;
  width: 2px;
  height: 1.5rem;
  background-color: #5c82a1;
  margin-left: 2px;
}
