.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0a0a0a;
  font-family: 'Poppins', sans-serif;
}

.logo img {
  width: 100px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: relative; /* Needed for positioning the line */
}

.navLinks li a::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Position the underline just below the text */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5c82a1; /* Underline color */
  transition: width 0.3s ease; /* Smooth animation */
  font-family: 'Poppins', sans-serif;
}

.navLinks li a:hover {
  color: #5c82a1; /* Change text color on hover */
  font-family: 'Poppins', sans-serif;
}

.navLinks li a:hover::after {
  width: 100%; /* Expand the underline on hover */
  font-family: 'Poppins', sans-serif;
}
